// @import url(https://fonts.googleapis.com/css?family=Cinzel:400,700);
@import url(/fonts/stylesheet.min.css);

// constants
$fontBase: 2vw;
$fontBaseSmall: 2.5vw;
$colourLoad: #202020;
$whiteOpaque: rgba(255, 255, 255, 0.2);
$fontHeader: 'josefin_sanslight_italic',
serif;
$fontBody: 'existencelight', Helvetica Neue,
Helvetica,
Arial,
sans-serif;
$tablet: 768px;

@mixin fillColour($colour) {
    transition: background, 500ms, ease-in-out;
    background: $colour;
}

@mixin small {
    @media (max-width: #{$tablet - 1px}) {
        @content;
    }
}

html {
    height: 100%;
}

body {
    color: $colourLoad;
    font-size: $fontBase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
}

h1 {
    font-family: $fontHeader;
    font-size: $fontBase * 3;
    margin: 0 0 $fontBase 0;
    
    @include small {
        font-size: $fontBaseSmall * 3.5;
        margin: 0 0 $fontBaseSmall 0;
    }
}

button {
    @include fillColour(none);
    display: block;
    padding: $fontBase/1.5;
    margin: $fontBase 0 0 0;
    font-size: $fontBase/1.5;
    font-family: $fontBody;
    font-weight: 200;
    color: $colourLoad;
    border: 1px solid $colourLoad;
    cursor: pointer;
    text-transform: uppercase;
    
    @include small {
        padding: $fontBaseSmall;
        font-size: $fontBaseSmall;
    }
    
    &:hover {
        @include fillColour($colourLoad);
        color: white;
    }
    &:active {
        position: relative;
        top: 1px;
    }
}

#quoteContainer {
    text-align: center;
    height: 100%;
    width: 75%;
    padding: $fontBase * 2;
    background: rgba(255,255,255,0.2);
    
    @include small {
        width: 90%;
        padding: $fontBaseSmall * 2 $fontBaseSmall;
    }
}

#generateCTA {
    margin: auto;
}

#speaker {
    display: block;
    margin: 0 0 $fontBase 0;
    text-align: right;
    font-family: $fontHeader;
    font-size: $fontBase * 1.2;
    
    @include small {
        font-size: $fontBaseSmall * 1.2;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade {
    animation: fadeInOut 1500ms ease-in-out;
}